// 全体を囲む為のclass
.wrap {
  text-align: center;
  padding: 24px;
}
// "max-width: 100%"はどの画面にも適用させたいのでstyle.cssに記入
img {
  display: block;
}
h1 {
  line-height: 1;
  margin-bottom: 24px;
}

p {
  color: rgba(black, 0.6);
  margin-bottom: 24px;
}
